<h2>Sign In</h2>
<%= form_for @user, url: session_path, method: :post do |f| %>
  <%= f.label :username %>:
  <%= f.text_field :username %><br><br>

  &nbsp;<%= f.label :password %>:
  <%= f.password_field :password %><br><br>

  <%= f.submit "Submit" %>
<% end %>

<%= image_tag ("floatingshoe.png"), :class => "floatingshoe" %>
