<h2>Sign Up</h2>
<%= form_for @user do |f| %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :name %>:
  <%= f.text_field :name %><br><br>

  <%= f.label :username %>:
  <%= f.text_field :username %><br><br>

  &nbsp;<%= f.label :password %>:
  <%= f.password_field :password %><br><br>

  <%= f.submit "Submit" %>
<% end %>

<%= image_tag ("floatingshoe.png"), :class => "floatingshoe" %>
