<h2>Cart</h2>

<% if @order.empty? %>
<h3>You currently have no items in your cart.</h3>
<%= image_tag ("floatingshoe.png"), :class => "floatingshoe" %>
<% end %>

<% if @order.any? %>
<%= link_to "<button class='clearcart'>Clear Cart</button>".html_safe, clear_path, :method => :post %>
<% end %>
<!--
<div id="cart">
<% @order.each do |sneaker| %>
  <div class="cartsneaker">
  <img src="<%= sneaker['img_url'] %>" />
  <p><b><%= sneaker["name"] %></b></p>
  <p><b style="color:yellow">Price:</b> $<%= sneaker["price"] %>&nbsp;&nbsp;<b style="color:yellow">Size:</b> <%= sneaker["shoesize"] %></p>
  <%= link_to "<button class='removeitem'>Remove</button>".html_safe, destroy_order_path(sneaker["id"]), :method => :delete, :confirm => "Are you sure you want to remove this from the cart?" %>
  </div>
<% end %>
</div> -->

<% if @order.any? %>
<table id="cart" cellspacing="30px">
  <tr>
    <th>PRODUCT</th>
    <th>SIZE</th>
    <th>PRICE</th>
  </tr>
  <% @order.each do |sneaker| %>
  <tr>
    <td><img class="cartpic" src="<%= sneaker['img_url'] %>" /></td>
    <td><%= sneaker["shoesize"] %></td>
    <td>$<%= sneaker["price"] %></td>
    <td> <%= link_to "<button class='removeitem'>Remove</button>".html_safe, destroy_order_path(sneaker["id"]), :method => :delete, :confirm => "Are you sure you want to remove this from the cart?" %></td>
  </tr>
  <% end %>
  <tr>
    <td></td>
    <td><b style="color:yellow">SUBTOTAL:</b></td>
    <td>$<%= @totalprice %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td class="grand"><b style="color:yellow">GRAND TOTAL:</td>
    <td class="grand">$<%= @totalprice %></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><%= link_to "<button class='checkout'>CHECKOUT</button>".html_safe %></td>
    <td></td>
  </tr>
</table>
<% end %>


<!-- <% if @order.any? %>
<div id="orderdetails">
  <h2 style="color:red">Order Details:</h2>
  <p class="subtotal"><b style="color:yellow">SUBTOTAL:</b> $<%= @totalprice %></p>
  <p><b style="color:yellow">GRAND TOTAL:</b> $<%= @totalprice %></p>
  <%= link_to "<button>CHECKOUT</button>".html_safe %>
</div>
<% end %> -->

<% if @order != [] %>
<footer>
  <h1>Team Decade</h1>
  <%= image_tag ("social-media-icons.png"), :class => "socialmedia"%>
<footer>
<% end %>
