<h2>Add a New Sneaker</h2>
<%= form_for [@brand, @sneaker] do |f| %>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :name %>:
  <%= f.text_field :name %><br><br>

  &nbsp;&nbsp;
  <%= f.label :img_url %>:
  <%= f.text_field :img_url %><br><br>

  <%= f.label :shoesize %>:
  <%= f.text_field :shoesize %><br><br>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.label :price %>:
  <%= f.text_field :price %><br><br>

  <%= f.submit "Submit" %>
<% end %>

<%= image_tag ("floatingshoe.png"), :class => "floatingshoe" %>
