<h2 id="sneakername"><%= @sneaker.name %></h2>
<div class="onesneaker">
<img class="sneakerpic" src="<%= @sneaker.img_url %>" />

<aside>
<p><b style="color:yellow">Shoe Size:</b> <%= @sneaker.shoesize %> &nbsp; <b style="color:yellow">Price:</b> <%= @sneaker.price %></p>

<%= link_to "<button class='addtocart'>Add to Cart</button>".html_safe, update_path(:sneaker_id => @sneaker), :method => :post %>
</aside>

</div>
<footer>
  <h1>Team Decade</h1>
<footer>
