<h2 id="sneakername"><%= @sneaker.name %></h2>
<div class="onesneaker">
<img class="sneakerpic" src="<%= @sneaker.img_url %>" />

<aside>
<p><b>Shoe Size:</b> <%= @sneaker.shoesize %> - <b>Price:</b> <%= @sneaker.price %></p>

<%= link_to "<button class='addtocart'>Add to Cart</button>".html_safe %>
</aside>

</div>
<footer>
  <h1>Team Decade</h1>
<footer>
