<h2 id="sneakername"><%= @sneaker.name %></h2>
<div class="sneaker">
<img class="sneakerpic" src="<%= @sneaker.img_url %>" />
<p><b>Shoe Size:</b> <%= @sneaker.shoesize %> - <b>Price:</b> <%= @sneaker.price %></p>
<h2 class="addtocart"><%= link_to "Add to Cart"%></h2>
</div>
