<!DOCTYPE html>
<html>
  <head>
    <title>Shoe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to "Homepage", brands_path%>
    <% @brands.each do |brand| %>
    <%= link_to brand.name, brand %>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
