<!DOCTYPE html>
<html>

  <head>
    <title>Shoe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  </head>

  <body>
  <div id="container">
    <header>

    <nav id="usernav">
      <h1><%= link_to "DECADE FOOTWEAR", brands_path %></h1>
      <% if @current_user %>

        <% if @current_user.admin? %>
        <p class="usersign"><%= link_to "Welcome, Admin!", user_path(@current_user) %>&nbsp;&nbsp;

        <% else %>
        <p class="usersign"><%= link_to "Welcome, #{@current_user.name}!", user_path(@current_user) %>&nbsp;&nbsp;
      <% end %>

      <%= link_to "Cart", orders_path %>
      <%= link_to "Sign Out", session_path, method: :delete %></p>
  <% else %>
      <div class="usersign">
        <p>Welcome, Guest!</p>
        <%= link_to "Cart", orders_path %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Sign In", new_session_path %>
      </div>
  <% end %>
    </nav>

    <nav id="brandnav">
      <% @brands.each do |brand| %>
      <%= link_to brand.name, brand %> &nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
    </nav>

  </header>
  <section>
    <%= yield %>
    <% flash.each do |type, message| %>
  <p class="<%= type %>"><%= message %></p>
<% end %>
  </section>
</div>
  </body>
</html>
