<!DOCTYPE html>
<html>
  <head>
    <title>Shoe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <h1><%= link_to "DECADE FOOTWEAR", brands_path %></h1>
    <nav>
      <% @brands.each do |brand| %>
      <%= link_to brand.name, brand %> &nbsp;
      <% end %>
    </nav>
    <nav>
      <% if @current_user %>
    <%= link_to "Welcome, #{@current_user.name}!", user_path(@current_user) %>&nbsp;&nbsp;
    <%= link_to "Sign Out", session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>&nbsp;&nbsp;
    <%= link_to "Sign In", new_session_path %>
  <% end %>
    </nav>
  </header>
  <hr>
  <section>
    <%= yield %>
    <% flash.each do |type, message| %>
  <p class="<%= type %>"><%= message %></p>
<% end %>
  </section>
  </body>
</html>
